/*THIS IS THE CSS TO SPACECHEESENET'S HOMEPAGE*/

/*Some basic settings to overwrite any browser given margins, gaps, ect...*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{
    font-family: "Comic Sans MS", serif;
    background-color: #0d0a29;
    color: #fff4fc;
    position: absolute;
    height: 100%;
    width: 100%;
}

/*_________________The headBar of the page_________________*/
header{
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: #280324;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headContainer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#logoSection{
    height: 50px;
    display: flex;
    width: 60%;
}
#logoLink{
    z-index: 9;
}
#nameLink{
    text-decoration: none;
    color: #ffffff;
}
h1{
    margin-left: 2%;
    font-size: 40px;
    z-index: 9;
}
#login{
    height: 50px;
    width: 40%;
    display: flex;
    justify-content: center;
}
#loginForm{
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    height: 26px;
    border-radius: 5px;
    background-color: #403F4C;
    width: 38%;
    border: none;
}
.button{
    color: white;
    width: 18%;
}
@media only screen and (max-width: 700px) {
    h1{
        display: none;
    }
    #logoSection{
        width: 50px;
        margin-right: 2.5%;
    }
    #login{
        width: 100%;
    }
}
/*Headbar is fully reactive and finished!*/


/*_________________Main content on the page_________________*/
#canvas{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 625px;
}
#mainContent{
    position: relative;
    width: 80%;
    height: 85%;
    top: 80px;
    display: flex;
    flex-flow: wrap;    /*adds a breakpoint if necessary*/
    min-height: 530px;
}
    .moonLanding{
        position: relative;
        height: 100%;
        width: 60%;
    }
        #moon{
            position: relative;
            display: block;
            margin: 60px auto;
            width: 320px; min-width: 320px;
            height: 320px; min-height: 320px;
            z-index: -1;
        }
        #eagle{
            position: relative; top: -245px;
            display: block; margin: 0 auto;
            height: 50px; min-height: 50px;
            width: 50px; max-height: 50px;
            animation: eagleOrbit 20s linear infinite;
            z-index: -1;
        }
        #intro{
            text-align: justify;
            position: relative;
            top: -50px;
            margin: 0% 5% 0% 5%;
        }




#registration{
    position: relative;
    height: 100%;
    width: 40%;
    background-color: yellow;
}
/*________________Design elements_________________*/
#earthAndStation{
    position: absolute;
    top: 68%;
    right: 1175px;
    height: 80px;
    width: 80px;
    animation: earthHover 8s infinite;
    z-index: -2;
}
#earth{
    display: block;
    height: 100%;
    z-index: -1;
}
@keyframes earthHover {
    0% {top: 65%}
    50% {top: 70%}
    100% {top: 65%}
}
#iss{
    display: block;
    margin: 0 auto;
    height: 30%;
    /*animation: issOrbit 16s linear reverse infinite;*/
    z-index: -1;
}
#hubble{
    display: block;
    margin: auto;
    height: 30%;
    /*animation: hubbleOrbit 13s linear infinite;*/
    z-index: -1;
}

@media only screen and (max-width: 700px) {
    #mainContent {
        display: block;
        margin: auto;
    }
    #introBadge{
        min-height: 50%;
        width: 100%;
    }
    #registration{
        min-height: 50%;
        width: 100%;
    }
    #eagle{
        animation: eagleOrbitMobile 20s linear infinite;
    }
}

@keyframes eagleOrbit {
    from { 	transform: rotate(0deg) translateX(190px); }
    to   {  transform: rotate(360deg) translateX(190px); }
}
@keyframes eagleOrbitMobile {
    from { 	transform: rotate(0deg) translateY(330%); }
    to   {  transform: rotate(360deg) translateY(330%); }
}



@keyframes issOrbit {
    from { 	transform: rotate(0deg) translateY(-250%); }
    to   {  transform: rotate(360deg) translateY(-250%); }
}
@keyframes hubbleOrbit {
    from { 	transform: rotate(0deg) translateY(360%); }
    to   {  transform: rotate(360deg) translateY(360%); }
}
#marsAndRover{
    position: absolute;
    top: 30%;
    left: -4%;
    height: 12%;
    width: 20%;
    display: flex;
    justify-content: center;
    min-width: 15%;
}
#mars{
    position: absolute;
    height: 100%;
}
#curiosity{
    position: absolute;
    height: 30%;
    top: 35%;
    animation: roverOrbit 60s linear reverse infinite;
}
@keyframes roverOrbit {
    from { 	transform: rotate(0deg) translateY(200%) scaleY(-1); }
    to   {  transform: rotate(360deg) translateY(200%) scaleY(-1); }
}