/*THIS IS THE CSS TO SPACECHEESENET'S HOMEPAGE*/

/*Some basic settings to overwrite any browser given margins, gaps, ect...*/
html, body, div, span, applet, input, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{
    font-family: "Trebuchet MS", "Comic Sans MS", serif;
    background-color: #09051e;
    color: #fff4fc;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;

}

/*_________________The headBar of the page_________________*/
header{
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: #16031e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headContainer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 85%;
}
#logoSection{
    height: 50px;
    display: flex;
    width: 60%;
}
#logoLink{
    z-index: 9;
}
#nameLink{
    text-decoration: none;
    color: #ffffff;
}
#pageTitle{
    margin-left: 5px;
}
h1{
    font-size: 40px;
    z-index: 9;
}
#login{
    height: 50px;
    width: 40%;
    display: flex;
    justify-content: center;
}
#loginForm{
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    height: 26px;
    border-radius: 5px;
    background-color: #403F4C;
    width: 38%;
    border: none;
}
textarea:focus, input:focus{
    outline: none;
    border:1px solid #034748;
}
.button{
    color: white;
    width: 18%;
}
@media only screen and (max-width: 700px) {
    h1{
        display: none;
    }
    #logoSection{
        width: 50px;
        margin-right: 2.5%;
    }
    #login{
        width: 100%;
    }
}
/*Headbar is fully reactive and finished!*/


/*_________________Main content on the page_________________*/
#mainContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 625px;
    overflow: hidden;
}
#mainContent{
    position: relative;
    width: 85%;
    height: 87.2%;
    top: 80px;
    display: flex;
    flex-flow: wrap;    /*adds a breakpoint if necessary*/
    min-height: 530px;
}
    #introduction{
        position: relative;
        height: 100%;
        width: 65%;
    }

/*_________________________Design elements_________________________*/
        #canvas{
            position: relative;
            height: 80%;
        }
        /*__________________Moon and Eagle__________________*/
            #moonLanding{
                position: relative;
                display: block;
                margin: 0 auto;
                height: 70%; min-height: 70%; top: 15%;
                z-index: 1;
            }
                #moon{
                    height: 100%;
                    display: block;
                    margin: 0 auto;
                    z-index: 1;
                }
                #eagle{
                    position: relative;
                    display: block; margin: 0 auto;
                    height: 13%;
                    max-height: 13%; top: -56.5%;
                    animation: eagleOrbit 20s linear infinite;
                    z-index: 1;
                }
        /*__________________Earth and Station__________________*/
            #earth{
                position: absolute;
                top: 35%;
                left: 10%;
                width: 10%;
                height: 100%;
                animation: earthHover 10s infinite;
                z-index: 20;
            }
            @keyframes earthHover {
                0% {top: 33%}
                50% {top: 37%}
                100% {top: 33%}
            }
            #iss{
                position: absolute;
                top: 35%;
                left: 13%;
                width: 4%;
                height: 100%;
                z-index: 30;
                animation:  issOrbit 16s linear infinite reverse, earthHover 10s infinite;
            }
            @keyframes issOrbit {
                from { 	transform: rotate(0deg) translateX(-200%); }
                to   {  transform: rotate(360deg) translateX(-200%); }
            }
        /*__________________Mars and rover__________________*/
            #mars{
                position: absolute;
                top: 4%;
                left: 3%;
                width: 9%;
                height: 100%;
                z-index: 1;
            }
            #curiosity{
                position: absolute;
                top: 4%;
                left: 6%;
                width: 3%;
                height: 100%;
                z-index: 1;
                animation: satelliteOrbit 50s infinite linear;
            }
            @keyframes satelliteOrbit {
                from { 	transform: rotate(0deg) translateX(-180%); scaleX(-1)}
                to   {  transform: rotate(360deg) translateX(-180%); scaleX(-1)}
            }
            #exoMars{
                position: absolute;
                top: 4%;
                left: 5.5%;
                width: 4%;
                height: 100%;
                z-index: 1;
                animation: exoMarsOrbit 18s infinite linear;
            }
            @keyframes exoMarsOrbit {
                from { 	transform: rotate(0deg) translateX(200%); }
                to   {  transform: rotate(360deg) translateX(200%); }
            }
        /*__________________Jupiter with moons__________________*/
            #jupiter{
                position: absolute;
                top: -30%;
                left: 9%;
                width: 12%;
                height: 100%;
                z-index: 1;
                animation: jupiterHover 5s infinite;
            }
            @keyframes jupiterHover {
                0% {top: -31%}
                50% {top: -29%}
                100% {top: -31%}
            }
            #voyager{
                position: absolute;
                top: -30%;
                left: 13%;
                width: 4%;
                height: 100%;
                z-index: 1;
                animation: voyagerOrbit 18s infinite linear reverse, jupiterHover 5s infinite;
            }
            @keyframes voyagerOrbit {
                from { 	transform: rotate(0deg) translateX(220%); }
                to   {  transform: rotate(360deg) translateX(220%); }
            }
#intro{
    position: relative;
    height: 20%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 5% 0% 5%;
    }

#registration{
    position: relative;
    height: 100%;
    width: 35%;
}
    #registrationContent{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
        #regText{
            height: 30%;
            display: table;
        }
            #regTextContent{
                display: table-cell;
                vertical-align: middle;
            }
        #regForm{
            height: 50%; width: 100%;
            display: table;
            vertical-align: middle;
        }
            #regData {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .wideInput{
                display: block; width: 100%; height: 100%;
            }
            .regSpacing{
                width: 100%;
                height: 18%;
            }
            #name1{
                height: 100%; float: left; width: 49.25%;
            }
            #name2{
                height: 100%; float: right; width: 49.25%;
            }
            #regButton{
                display: block; height: 100%; width: 40%; margin: 0 auto;
            }
#saturn{
    position: absolute;
    width: 110px;
    top: 18%;
    left: 670px;
    z-index: -20;
}
#uranus{
    position: absolute;
    width: 70px;
    top: 50%;
    left: 710px;
    z-index: -20;
    animation: uranusHover 10s infinite;
}
@keyframes uranusHover {
    0% {top: 47%}
    50% {top: 53%}
    100% {top: 47%}
}
#comet{
    position: absolute;
    height: 30px; width: 30px;
    top: 510px;
    overflow: hidden;
    left: 1225px;
    animation: comet 20s linear  infinite;
    z-index: -10;
}
#blackHole{
    position: absolute;
    height: 90px; width: 90px; top: 480px; left: 1225px;
    animation: blackHole 8s linear infinite;
    z-index: -20;
}
@keyframes spin {
    from { 	transform: rotate(0deg) }
    to   {  transform: rotate(360deg);}
}
@keyframes comet {
    from { 	transform: translateX(-5000px); }
    to   {  transform: translateX(0px); }
}

















@media only screen and (max-width: 700px) {
    #mainContent {
        display: block;
        margin: auto;
    }
    #introBadge{
        min-height: 50%;
        width: 100%;
    }
    #registration{
        min-height: 50%;
        width: 100%;
    }
    #eagle{
        animation: eagleOrbitMobile 20s linear infinite;
    }
}

@keyframes eagleOrbit {
    from { 	transform: rotate(0deg) translateX(450%); }
    to   {  transform: rotate(360deg) translateX(450%); }
}
@keyframes eagleOrbitMobile {
    from { 	transform: rotate(0deg) translateY(330%); }
    to   {  transform: rotate(360deg) translateY(330%); }
}