/*THIS IS THE CSS TO SPACECHEESENET'S HOMEPAGE*/

/*Some basic settings to overwrite any browser given margins, gaps, ect...*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{
    font-family: "Comic Sans MS", serif;
    background-color: #0d0a29;
    color: #fff4fc;
    position: absolute;
    height: 100%;
    width: 100%;
}

/*The headBar of the page*/
header{
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: #280324;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headContainer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    text-align: center;
}
#logoSection{
    height: 50px;
    display: flex;
}
#logoLink{
    z-index: 9;
    margin-right: 3px;
}
#nameLink{
    text-decoration: none;
    color: #ffffff;
}
h1{
    font-size: 40px;
    z-index: 9;
}
#login{
    height: 50px;
    width: 40%;
}
#loginForm{
    position: relative;
    top: 12px;
    z-index: 9;
    width: 100%;
}
input{
    height: 26px;
    border-radius: 5px;
    background-color: #403F4C;
    border: none;
}
.button{
    color: white;
}

/*Main content on the page*/
#canvas{
    position: absolute;
    height: 100%;
    width: 100%;
}
#mainContent{
    position: absolute;
    width: 80%; left: 10%; right: 10%;
    height: 85%;
    top: 80px;
    display: flex;
    flex-flow: wrap;    /*adds a breakpoint if necessary*/
}
#moonLanding{
    position: relative;
    height: 100%;
    width: 60%;
    background-color: aliceblue;
}
#registration{
    position: relative;
    height: 100%;
    width: 40%;
    background-color: yellow;
}


@media only screen and (max-width: 700px) {
    #mainContent {
        display: table;
    }
    #moonLanding{
        height: 50%;
        width: 100%;
    }
    #registration{
        height: 50%;
        width: 100%;
    }
}







.moonLanding{
    position: absolute;
    top: 12%;
    left: 10%;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
}
#moon{
    position: absolute;
    height: 100%;
    z-index: -1;
}
#eagle{
    position: absolute;
    top: 40%;
    height: 20%;
    animation: eagleOrbit 20s linear infinite;
}
@keyframes eagleOrbit {
    from { 	transform: rotate(0deg) translateX(310%); }
    to   {  transform: rotate(360deg) translateX(310%); }
}
#intro{
    position: absolute;
    width: 40%;
    top: 65%;
    left: 15%;
}
#earthAndStation{
    position: absolute;
    top: 60%;
    height: 15%;
    width: 20%;
    display: flex;
    justify-content: center;
}
#earth{
    position: absolute;
    height: 100%;
    z-index: -1;
}
#iss{
    position: absolute;
    top: 35%;
    height: 30%;
    animation: issOrbit 16s linear reverse infinite;
    z-index: -1;
}
#hubble{
    position: absolute;
    top: 35%;
    height: 30%;
    animation: hubbleOrbit 13s linear infinite;
    z-index: -1;
}
@keyframes issOrbit {
    from { 	transform: rotate(0deg) translateY(-250%); }
    to   {  transform: rotate(360deg) translateY(-250%); }
}
@keyframes hubbleOrbit {
    from { 	transform: rotate(0deg) translateY(360%); }
    to   {  transform: rotate(360deg) translateY(360%); }
}
#marsAndRover{
    position: absolute;
    top: 30%;
    left: -4%;
    height: 12%;
    width: 20%;
    display: flex;
    justify-content: center;
    min-width: 15%;
}
#mars{
    position: absolute;
    height: 100%;
}
#curiosity{
    position: absolute;
    height: 30%;
    top: 35%;
    animation: roverOrbit 60s linear reverse infinite;
}
@keyframes roverOrbit {
    from { 	transform: rotate(0deg) translateY(200%) scaleY(-1); }
    to   {  transform: rotate(360deg) translateY(200%) scaleY(-1); }
}