/*THIS IS THE CSS TO SPACECHEESENET'S ACTIVITYPAGE*/

/*Some basic settings to overwrite any browser given margins, gaps, ect...*/
html, body, div, span, applet, input, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{
    font-family: "Trebuchet MS", "Comic Sans MS", serif;
    background-color: #09051e;
    color: #fff4fc;
    position: absolute;
    height: 100%; min-height: 600px;
    width: 100%; min-width: 960px;
    overflow-x: hidden;
    padding: 0;
}
a{
    color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}
a{
    color: #ffffff;
}

/*_________________The headBar of the page_________________*/
header{
    position: relative;
    height: 14%;
    width: 100%;
    background-color: #16031e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headContainer {
    height: 50%;
    display: flex;
    width: 85%;
}
#logoSection{
    height: 100%;
    display: flex;
    width: 60%;
}
#logoLink{
    height: 100%;
}
#logo{
    position: relative;
    bottom: 20%;
    height: 140%;
}
#nameLink{
    text-decoration: none;
}
#pageTitle{
    height: 100%;
    position: relative;
    margin-left: 5px;
    font-size: 250%; line-height: 100%; font-weight: 600;
}
#button{
    color: white;
    width: 18%;
}
/*_________________Main content of the page_________________*/
#mainLogo{
    position: relative;
    width: 100%;
    height: 30%;
}
#mainText{
    width: 100%; height: 60%;
    position: relative; top: 30%;
    text-align: center;
}
#űrsajtActivity{
    display: block; position: relative;
    font-size: 300%; font-weight: 600; top: -5%;
}
#űrsajtActivitysub{
    font-size: 125%; display: block; position: relative; bottom: -20%;
}
#mainContent{
    position: relative;
    width: 100%;
    height: 56%;
}
    #inputContainer{
        position: relative;
        height: 16%; width: 100%;
    }
        #card{
            position: relative;
            height: 100%; width: 46%; left: 27%;
            display: flex;
        }
            #idea{
                position: relative;
                border-radius: 5px;
                width: 70%; height: 80%; top: 10%;
                background-color: #403F4C;
                color: white;
                border: none;
                font-size: 110%;
                font-family: "Trebuchet MS", "Comic Sans MS", serif;
            }
            #submitActivity{
                position: relative; border-radius: 5px;
                height: 80%; width: 28%; top: 10%; left: 2%;
                background-color: #00B159;
                color: white; border: none;
                font-size: 110%;
                font-family: "Trebuchet MS", "Comic Sans MS", serif;
            }
            #idea:focus, #submitActivity:focus{
                outline: none;
                border:1px solid #034748;
                font-size: 110%;
                font-family: "Trebuchet MS", "Comic Sans MS", serif;
            }
    #contentHolder{
        position: relative;
        width: 100%;
        min-height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        #content{
            position: relative; height: 100%;
            font-size: 5vw; font-weight: bold;
        }
    #bottomContent{
        height: 34%; display: flex;justify-content: center;
    }
        #getCard{
            display: block;
            position: relative; border-radius: 5px;
            height: 45%; width: 28%; top: 10%; right: 0;
            background-color: #cf5c36;
            color: white; border: none;
            font-size: 110%;
            font-family: "Trebuchet MS", "Comic Sans MS", serif;
            font-weight: bold;
        }




