<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <link rel="stylesheet" href="/css/activityDesign.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<header>
    <div class="headContainer">
        <div id="logoSection">
            <a href="login.html" id="logoLink">
                <img src="/cheeses/slice.svg" height="50px" id="logo">
            </a>
            <div id="pageTitle">
                <a href="login.html" id="nameLink">Űrsajtnet</a>
            </div>
        </div>
    </div>
</header>
<div id="mainLogo">
    <div id="mainText">
        <h1 id="űrsajtActivity">Űrsajt Activity</h1>
        <p id="űrsajtActivitysub">Induljon a játék! Oszd meg legelvetemültebb ötleteid, és sorsolj az Űrsajtnet adatbázisából</p>
    </div>
</div>








<div id="mainContent">
    <div id="inputContainer">
        <form id="card" name="fm">
            <input type="text" placeholder="ide írj!" name="activityName" id="idea" autocomplete="off">
            <button type="button" id="submitActivity" onclick="submitCard()">Elküld</button>
        </form>
    </div>
    <div id="contentHolder">
        <div data-th-text="${message}" id="content"></div>
    </div>
    <button type="button" onclick="getContent()">Sorsolás</button>
</div>











<script>
    function submitCard(){
        $.ajax({
            url: '/activityget',
            type : "POST",
            data : $("#card").serialize(),
            statusCode: {
                200: function(responseObject, textStatus, jqXHR) {
                    alert("Hozzáadva az adatbázishoz");
                },
                406: function(responseObject, textStatus, errorThrown) {
                    alert("Túl rövid :,(");
                },
                503: function(){
                    alert("Ez a szó már szerepel az adatbázisban")
                }
            }
        });
        document.fm.reset();

        }
    function getContent() {
        $("#content").load("/getCard");
    }
</script>
</body>
</html>