<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="/css/activityDesign.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<header>
    <div class="headContainer">
        <div id="logoSection">
            <a href="login.html" id="logoLink">
                <img src="/cheeses/slice.svg" height="50px" id="logo">
            </a>
            <div id="pageTitle">
                <a href="login.html" id="nameLink">Űrsajtnet</a>
            </div>
        </div>
        <div id="activityGenerator">Activity randomátor</div>
    </div>
</header>
<div id="mainContent">
    <div id="inputContainer">
        <form id="card" name="fm" spellcheck="false">
            <input type="text" placeholder="Activity ötlet helye (maximum 35 karakter)"
                   name="activityName" id="idea" autocomplete="off" class="keypressbutton">
            <button type="button" id="submitActivity" onclick="submitCard()">Elküld</button>
        </form>
    </div>
    <div id="contentHolder">
        <div id="content"></div>
    </div>
    <div id="bottomContent">
        <button type="button" id="getCard" onclick="getContent()">Sorsolás</button>
    </div>
    <div id="commentHolder">*A kisorsolt ötlet automatikusan törlődik a listáról</div>
</div>
<canvas id="bgCanvas"></canvas>
<script>
    $(document).on("keypress",".keypressbutton",function(event) {
        var keyCode = event.which || event.keyCode;
        if (keyCode == 13) {
            $("#submitActivity").click();
            return false;
        }
    });
    function submitCard(){
        $.ajax({
            url: '/activityget',
            type : "POST",
            data : $("#card").serialize(),
            statusCode: {
                200: function() {
                    alert("Hozzáadva az adatbázishoz");
                },
                406: function() {
                    alert("Túl rövid :,(");
                },
                413: function () {
                    alert("Túl hosszú :O");
                },
                503: function(){
                    alert("Ez a szó már szerepel az adatbázisban")
                }
            }
        });
        document.fm.reset();

        }
    function getContent() {
        $.when($.ajax(firstContent())).then(function () {
            secondContent();
        });
    }

    function firstContent(){
        $("#content").load("/getCard");
    }
    function secondContent(){
        $("#commentHolder").load("/getComment");
    }

    document.addEventListener('click', function(e){
        if(document.activeElement.toString() == '[object HTMLButtonElement]'){ document.activeElement.blur(); } });
</script>
<script>
    (function () {
        var requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame || function (callback) {
            window.setTimeout(callback, 1000 / 60);
        };
        window.requestAnimationFrame = requestAnimationFrame;
    })();

    // Terrain stuff.
    var background = document.getElementById("bgCanvas"),
        bgCtx = background.getContext("2d"),
        width = window.innerWidth,
        height = document.body.offsetHeight;

    (height < 400) ? height = 400 : height;

    background.width = width;
    background.height = height;

    function Terrain(options) {
        options = options || {};
        this.terrain = document.createElement("canvas");
        this.terCtx = this.terrain.getContext("2d");
        this.scrollDelay = options.scrollDelay || 90;
        this.lastScroll = new Date().getTime();

        this.terrain.width = width;
        this.terrain.height = height;
        this.fillStyle = options.fillStyle || "#191D4C";
        this.mHeight = options.mHeight || height;

        // generate
        this.points = [];

        var displacement = options.displacement || 140,
            power = Math.pow(2, Math.ceil(Math.log(width) / (Math.log(2))));

        // create the rest of the points
        for (var i = 1; i < power; i *= 2) {
            for (var j = (power / i) / 2; j < power; j += power / i) {
                this.points[j] = ((this.points[j - (power / i) / 2] + this.points[j + (power / i) / 2]) / 2) + Math.floor(Math.random() * -displacement + displacement);
            }
            displacement *= 0.6;
        }

        document.body.appendChild(this.terrain);
    }

    Terrain.prototype.update = function () {
        // draw the terrain
        this.terCtx.clearRect(0, 0, width, height);
        this.terCtx.fillStyle = this.fillStyle;

        if (new Date().getTime() > this.lastScroll + this.scrollDelay) {
            this.lastScroll = new Date().getTime();
            this.points.push(this.points.shift());
        }

        this.terCtx.beginPath();
        for (var i = 0; i <= width; i++) {
            if (i === 0) {
                this.terCtx.moveTo(0, this.points[0]);
            } else if (this.points[i] !== undefined) {
                this.terCtx.lineTo(i, this.points[i]);
            }
        }

        this.terCtx.lineTo(width, this.terrain.height);
        this.terCtx.lineTo(0, this.terrain.height);
        this.terCtx.lineTo(0, this.points[0]);
        this.terCtx.fill();
    }


    // Second canvas used for the stars
    bgCtx.fillStyle = '#05004c';
    bgCtx.fillRect(0, 0, width, height);

    // stars
    function Star(options) {
        this.size = Math.random() * 2;
        this.speed = Math.random() * .05;
        this.x = options.x;
        this.y = options.y;
    }

    Star.prototype.reset = function () {
        this.size = Math.random() * 2;
        this.speed = Math.random() * .05;
        this.x = width;
        this.y = Math.random() * height;
    }

    Star.prototype.update = function () {
        this.x -= this.speed;
        if (this.x < 0) {
            this.reset();
        } else {
            bgCtx.fillRect(this.x, this.y, this.size, this.size);
        }
    }

    function ShootingStar() {
        this.reset();
    }

    ShootingStar.prototype.reset = function () {
        this.x = Math.random() * width;
        this.y = 0;
        this.len = (Math.random() * 80) + 10;
        this.speed = (Math.random() * 10) + 6;
        this.size = (Math.random() * 1) + 0.1;
        // this is used so the shooting stars arent constant
        this.waitTime = new Date().getTime() + (Math.random() * 3000) + 500;
        this.active = false;
    }

    ShootingStar.prototype.update = function () {
        if (this.active) {
            this.x -= this.speed;
            this.y += this.speed;
            if (this.x < 0 || this.y >= height) {
                this.reset();
            } else {
                bgCtx.lineWidth = this.size;
                bgCtx.beginPath();
                bgCtx.moveTo(this.x, this.y);
                bgCtx.lineTo(this.x + this.len, this.y - this.len);
                bgCtx.stroke();
            }
        } else {
            if (this.waitTime < new Date().getTime()) {
                this.active = true;
            }
        }
    };

    var entities = [];

    // init the stars
    for (var i = 0; i < height; i++) {
        entities.push(new Star({
            x: Math.random() * width,
            y: Math.random() * height
        }));
    }

    // Add 2 shooting stars that just cycle.
    entities.push(new ShootingStar());
    entities.push(new ShootingStar());

    //animate background
    function animate() {
        bgCtx.fillStyle = '#09051e';
        bgCtx.fillRect(0, 0, width, height);
        bgCtx.fillStyle = '#ffffff';
        bgCtx.strokeStyle = '#ffffff';

        var entLen = entities.length;

        while (entLen--) {
            entities[entLen].update();
        }
        requestAnimationFrame(animate);
    }
    animate();
</script>
</body>
</html>