<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <style>
        #textBox{
            position: relative;
            width: 100%; height: 30%;
            display: block;
            border: 1px white; border-style: solid; border-radius: 20px;
            font-size: 1vw;
            text-align: center;
            vertical-align: middle; line-height: normal;
        }
    </style>
</head>
<body>
    <div data-th-text="robotComment" id="textBox"></div>
</body>
</html>